@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap');

$blue: #00D8FF;
$white: #fff;
$black: #121212;
$pink: #FFADFF;
$red: red;
$green: #06a94d;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  text-decoration: none !important;

  &:visited {
    text-decoration: inherit;
  }

  &:hover {
    color: #fff !important;
    text-shadow: 0 0 1px hsla(0, 0%, 100%, .667), 0 0 2px $pink, 0 0 4px $pink, 0 0 6px $pink;
  }

  &:active {
    text-decoration: inherit;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  :focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.redGlow {
  color: #fff;
  text-shadow: 0 0 1px hsla(0, 0%, 100%, .667), 0 0 2px $red, 0 0 4px $red, 0 0 6px $red;
}

.greenGlow {
  color: #fff;
  text-shadow: 0 0 1px hsla(0, 0%, 100%, .667), 0 0 2px $green, 0 0 4px $green, 0 0 6px $green;
}

.bold {
  font-weight: 800;
}

.pink {
  color: $pink !important;
}

.tryAgainButton a {
  color: $black;
}

#wrapper {
  width: 820px;
  margin: 50px 0;
}

#navigation .MuiSpeedDial-fab {
  background-color: $blue;
  color: $black;

  &:hover {
    filter: drop-shadow(0 0 1.4em $blue);
  }
}

#mobileNavigation {
  min-width: 100vw;
  max-width: 100vw;
  position: fixed;
  bottom: 0;
  left:0;


  .Mui-selected {
    color: #B8B8B8;
  }
}

#spinner {
  height: 72px !important;
  width: 72px !important;
  margin: 80px auto;
}

.neonHeader,
.question {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 16px 0;
  color: $blue;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px $blue, 0 0 8px $blue, 0 0 12px $blue;
  word-spacing: .6rem;
  transition: color .1s ease, text-shadow .1s ease;
  font-family: Orbitron, sans-serif;
  font-style: italic;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  text-decoration: underline double;
  text-decoration-color: $white;
}

#google_translate_element {
  display: block;
}

#categorySelect,
#difficultyLabel,
#wrongChoices,
.createdBy,
.question,
.multipleChoiceOptions,
#google_translate_element {
  text-align: left;
}

.apiShoutout {
  text-align: right !important;
}

.refreshLink {
  padding: 1rem;
}


@media screen and (max-width: 900px) {
  #wrapper {
    width: 600px;
  }
}

// Mobile only media query
@media screen and (max-width: 600px) {
  #wrapper {
    width: 400px;
  }

  #navigation {
    display: none;
  }

  .apiShoutout {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  #mobileNavigation {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  #wrapper {
    width: 320px;
  }
}