@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap');

$blue: #fcff99;
$white: #fff;
$black: #121212;
$gray: #444;
$pink: #FFADFF;
$red: red;
$green: #06a94d;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #444;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  text-decoration: none !important;

  &:visited {
    text-decoration: inherit;
  }

  &:hover {
    color: #fff !important;
    text-shadow: 0 0 1px hsla(0, 0%, 100%, .667), 0 0 2px $pink, 0 0 4px $pink, 0 0 6px $pink;
  }

  &:active {
    text-decoration: inherit;
  }
}


// NEUMORPH

.neoContainer {
  border-radius: 4px;
  background: #444444;
  box-shadow: 5px 5px 12px #363636, -4px -4px 10px #525252;
  transition: box-shadow 0.3s ease-in-out;
}

// END NEUMORPH


.redGlow {
  color: #fff;
  text-shadow: 0 0 1px hsla(0, 0%, 100%, .667), 0 0 2px $red, 0 0 4px $red, 0 0 6px $red;
}

.greenGlow {
  color: #fff;
  text-shadow: 0 0 1px hsla(0, 0%, 100%, .667), 0 0 2px $green, 0 0 4px $green, 0 0 6px $green;
}

.bold {
  font-weight: 800;
}

.pink {
  color: $pink !important;
}

.tryAgainButton a {
  color: $black;
}

#wrapper {
  width: 820px;
  margin: 50px 0;
}

#navigation .MuiSpeedDial-fab {
  background-color: $blue;
  color: $black;

  &:hover {
    filter: drop-shadow(0 0 1.4em $blue);
  }
}



#mobileNavigation {
  min-width: 100vw;
  max-width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;


  .Mui-selected {
    color: #B8B8B8;
  }
}

#spinner {
  height: 72px !important;
  width: 72px !important;
  margin: 80px auto;
}

.neonHeader,
.question {

  color: $blue;

  transition: color .1s ease, text-shadow .1s ease;
  text-decoration-color: $white;
}


input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &::-moz-range-thumb {
    border: none;
  }
}

.range-style {
  width: 100%;
  height: 30px;
  background: $gray; // Make sure this color works well with #444
  border-radius: 10px;


  @mixin track-style {
    display: flex;
    align-items: center;
    height: 16px;
    border-radius: 10px;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.5);
  }

  @mixin thumb-style {
    position: relative;
    top: -50%;
    width: 25px;
    height: 25px;
    background-color: $blue; // Make sure this color works well with #444
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.1), transparent);
    border-radius: 50%;
    box-shadow: 5px 5px 12px var(--dark-bg-dark-shadow), -4px -4px 10px var(--dark-bg-light-shadow)
  }


  &::-webkit-slider-runnable-track {
    @include track-style;
  }

  &::-webkit-slider-thumb {
    @include thumb-style;
  }

  &::-moz-range-track {
    @include track-style;
  }

  &::-moz-range-thumb {
    @include thumb-style;
  }
}

#categorySelect,
#difficultyLabel,
#wrongChoices,
.createdBy,
.question,
.multipleChoiceOptions {
  text-align: left;
}

.apiShoutout {
  text-align: right !important;
}



@media screen and (max-width: 900px) {
  #wrapper {
    width: 600px;
  }
}

// Mobile only media query
@media screen and (max-width: 600px) {
  #wrapper {
    width: 400px;
  }

  #navigation {
    display: none;
  }

  .apiShoutout {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  #mobileNavigation {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  #wrapper {
    width: 320px;
  }
}